@import '../../vendor/filament/filament/resources/css/app.css';
/* 
.filament-notifications-notification {
    padding: 2rem !important;
    min-width: 39rem !important;
}
.filament-notifications-title{
    font-size: 14px;
    line-height: 1.5 !important;
}
.filament-notifications-icon{
    height: 2.5rem !important;
    width: 2.5rem !important;
}
.filament-notifications-close-button {
    height: 2rem; 
    width:  2rem ;
}  */